*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* border:1px solid pink; */
}

:root{
    --primary-color:#0b090a;
    --secondary-color:#FFFFFF;
    --text-primary-color:#0b090a;
    --text-secondary-color:#FFFFFF;
    --button-hover-color:#ffb700;
}

body{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFC3nQWcQ_Ak5ALgjhup-P6SMZDuNw2Jic5g&s")
}

.description{
  line-height:1.5rem;
  letter-spacing:0.08rem;
}

.main{
  position:relative;
    display:flex;
    height:100vh;
    width:100vw;
    overflow:hidden;
}

.mainContent{
  position:relative;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.instructions{
  text-align:center;
}

.instructions__description{
  font-size:1rem;
  letter-spacing:0.1rem;
  visibility:visible;
  line-height:1.5rem;
}

#index-container{
    position:relative;
    width:20%;
    border:1px solid var(--primary-color);
    background-color:var(--secondary-color);
}

.index{
    position:absolute;
    background-color:var(--primary-color);
    border-radius:25%;
    width:200%;
    height:100%;
    left:-100%;
    display:flex;
}
.empty{
    width:50%;
}

.index__listContainer{
    width:50%;
    color:var(--text-secondary-color);
   
    
}

.index__list{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:3rem;
    height:100%;
}

#book-container{
   position:relative;
   height:70%;
   margin:0rem 15rem ;
   border-radius:10px;
   perspective:1500px;
   transform:rotateX(20deg);
}

.cover, .home, .about, .portfolio, .contact, .back-cover{
    transform:rotateX(20deg);
}


.spiral-container {
    position: absolute;
    perspective:1000px;
    width: 10%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    left:-1rem;
    transform:rotateX(20deg);
    transition:all 3s;
    z-index:10;
  }

  .rings{
    height:100%;
    transform: rotateX(0deg) rotateY(0deg);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-bottom:500px;
  }

  .circleContainer{
    height:calc(100%/10);
    perspective: 1000px; 
    overflow:hidden;
  }

  .circle {
    width: 42px; /* Ring diameter */
    height: 42px;
    border:5px solid gray;
    border-radius: 50%;
    position: absolute;
    transform-style: preserve-3d; /* Ensures 3D transforms are preserved */
    transform: rotateX(-80deg) rotateZ(-90deg) rotateY(100deg) ;
  }

  .ring-innerPage{
    transform: rotateX(-90deg) rotateZ(120deg) rotateY(-90deg) translateX(15px);
  }

  section{
    border-radius:20px;
    /* box-shadow:1px 2px 5px 10px var(--primary-color); */
  }

  .cover,  .back-cover{
    height:100%;
    width:100%;
  }

  .cover{
    background:url("/home-bkg.jpg");
    background-size:cover;
    background-position:center;
    filter: grayscale(100%);
    cursor:pointer;
    transform-origin:center left;
    transition:all 3s;
    position:absolute;
    z-index:5;
  }

  .back-cover{
    position:relative;
    z-index: -1;
  }

  .coverClick, .homeClick, .aboutClick, .portfolioClick, .contactClick{
    transform: rotateX(20deg) rotateY(-240deg);
  }

  .page{
    transform-origin:center left;
    transition:all 4s;
    background-color:var(--primary-color);
    color:var(--text-secondary-color);
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    pointer-events: none; 
    border-radius:20px;
  }

.content {
    height:100%;
    color: #fff; 
    text-align: center; 
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    gap:2rem;
    padding:0 2rem;
  }

  .home{
    position:absolute;
    background-color:var(--primary-color);
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    padding:2rem 0;
    z-index:4;
  }

  .home__content--welcome{
    letter-spacing: 0.15rem;
    line-height:1.2rem;
  }
  
  .home__content--name h2{
    font-size:3.5rem;
    letter-spacing:0.1rem
  }

  .home__content--description{
    max-width:32rem;
  }

  .home__content--role{
    font-size:2rem;
    letter-spacing:0.05rem;
  }

  .home__content--socials{
    display:flex;
    gap:1rem;
  }

  .home__content--socials a{
    border:2px solid var(--secondary-color);
    border-radius: 10px;
    padding:5px;
    transition: all 1s ease;
  }

  .home__content--socials a:hover, .contact-btn:hover{
    background: linear-gradient(to right bottom, #ffea00,#ffaa00, #ff7b00);
    border: 1px solid #e4e4e4;
    transform: scale(1.1);
    color:var(--text-primary-color);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6), 
    1px 1px 12px rgba(255, 255, 200, 0.4), 
    2px 2px 16px rgba(255, 255, 255, 0.2); 
  }


  .social-icon{
    font-size:25px;
    color:var(--text-secondary-color);
  }

  .icon{
    font-size:20px;
    color:var(--text-secondary-color);
    fill:var(--secondary-color);
  }

  .icon:hover{
    color:var(--button-hover-color);
    fill:var(--button-hover-color);
    transform:scale(1.1);
    transition:all 1s ease;
  }

  .navButtons{
    display:flex;
    justify-content:space-evenly;
    width:30%;
    padding:5px;
  }

  .prevBtn, .nextBtn{
    background-color:transparent;
    color:var(--text-secondary-color);
    padding:15px;
    letter-spacing:0.1rem;
    border-radius:50%;
    border:1px solid var(--secondary-color);
    box-shadow:0px 1px 15px 2px rgb(255,255,255,0.5);
  }


  .about{
    z-index:3;
  }
  

  .portfolio{
    z-index:2;
  }

  .contact{
    z-index:1;
  }

   .about, .portfolio, .contact, .back-cover{
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    gap:1rem;
    padding:2rem 0;
  }

  .back-cover{
    justify-content:space-evenly;  
    padding:1.5rem 0;
  }

  .contact{
    padding-top:2rem;
    gap:1.5rem;
  }

  .contactForm{
    width:75%;
    border:2px solid var(--secondary-color);
    border-radius:20px;
    padding:1rem 2rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.3rem;
  }
  
.contactForm label{
  font-size:1.2rem;
}


.contactForm input, .contactForm textarea{
  width:100%;
  padding: 10px 5px;
  border-radius:10px;
  background-color:#edf6f9;
  text-align:center;
}

.contactForm textarea{
  line-height:1rem;
}

.contact-btn{
  padding:10px;
  border-radius:20px;
  letter-spacing:0.1rem;
  font-weight:500;
  background-color:transparent;
  color:var(--text-secondary-color);
  margin-top:1rem;
  border:1px solid #FFDD00;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6), 
    2px 2px 12px 2px rgba(255, 149, 0, 0.4);
}

.back-cover h1{
  
}

.portfolio__projects{
  width:85%;
  border:1px solid var(--secondary-color);
  display:grid;
  gap:10px;
  border-radius:20px;
  grid-template-rows: 150px 150px;
  padding:1rem;
}

.portfolio__projects--item{
  position:relative;
  border:1px solid var(--secondary-color);
  border-radius:15px;
  filter:grayscale(100%);
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
}

.portfolio__projects--item::before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius:15px;
  z-index: 1;
}

.portfolio__projects--item:hover{
  filter:none;
  transform:scale(1.02);
  transition: all 2s ease;
  z-index:2;
  
}

.portfolio__projects--item:hover::before{
  opacity:0.4;
}


.project1{
  grid-column: 1/5;
  background: url("https://static.vecteezy.com/system/resources/previews/023/139/227/large_2x/colorful-macarons-with-sugar-powder-explosion-moment-on-black-background-neural-network-generated-art-photo.jpg");
  background-size:contain ;
  
}

.project2{
  grid-column: 5/7;
  background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSceM8CVRX08d0op2xZbEbD5je_xQbNF6AE3w&s");
  background-size:contain ;
  
}
.project3{
  grid-column: 1/4;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHB7YTzYvVi1lzEoUiU9jnYese1IbjDSB48Q&s");
  background-size:contain;
}

.project4{
  grid-column: 4/7;
  background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQr-mavbCJCAaXqhwDXASfDYVw9Y-zfpUqcQ&s");
  background-size:contain;
}

.project-heading{
  font-size:3rem;
  font-weight:400;
  letter-spacing:0.1rem;
  z-index:2;
  color:yellow;
  text-align:center;
}


.projectCard{
  position:absolute;
  filter:none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: var(--primary-color);
  backdrop-filter: blur(100px);
  width:25rem;
  border-radius:15px;
  color:var(--text-secondary-color);
  perspective:1500px;
  padding:1rem 0;
  z-index:50;
  visibility:hidden;
  transform-style:preserve-3d;
  box-shadow: 0 0 3px 2px #ffea00, 1px -1px 5px 2px #ffd000, 2px -2px 5px 2px #ffc300, 3px 3px 5px 2px #ffaa00, 2px -2px 5px 2px #ff8800;
}

.project__content--description{
  position:relative;
  display:flex;
  flex-direction:column;
  gap:1rem;
  padding:1rem;
}

.project__content--techstack, .project__content--links{
  display:flex;
  gap:0.5rem;
}


.projectClicked{
  visibility:visible;
  transform: rotateX(10deg) scale(1.2);
  transition:all 3s ease;
}

.close-btn{
  position:absolute;
  top:1rem;
  right:1rem;
  background-color:transparent;
  border:none;
  color:var(--text-secondary-color);
  cursor:pointer;
  text-shadow:1px 1px 10px 5px white;
}

.close-btn:hover{
  transform:scale(1.1);
  transition:all 0.1s ease;
  color:var(--button-hover-color);
}

.about__content{
  width:75%;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  border:1px solid var(--secondary-color);
  border-radius:20px;
}

.about__content--education, .about__content--work{
  padding: 2rem;
  gap:1rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.about__content--work{
  width:50%;
}

.separator{
  height:80%;
  border:1px solid white;
}
.education--masters, .education--bachelors, .work--nau, .work--infy{
  display:flex;
  gap:1.2rem;
}

.education--contentContainer p{
  letter-spacing:0.05rem;
  line-height:1.5rem;
}

.work--contentContainer{
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.work--content p{
  letter-spacing:0.05rem;
  line-height:1.3rem;
}

.work--imageContainer img{
  background-color:black;
}

.degree{
  font-weight:700;
}
@media(max-width > 1800px){
  #book-container{
    margin:0 30rem;
  }
}
@media (max-width:1800px){
  #book-container{
    margin:0 20rem;
  }
}

@media (max-width:1444px){
  #book-container{
    margin:0 8rem;
  }
  .about__content{
    width:80%;
  }
}

@media (max-width:1200px){
  .about__content--work, .about__content--education{
    padding:2rem 1rem;
  }
}

@media (max-width:1024px){
  #book-container{
    margin:0 5rem;
  }
  .about__content{
    width:85%;
  }
  
}

@media (max-width:838px){
  .about__content--work{
    padding:2rem 0rem 2rem 0.5rem;
  }

}
@media (max-width:768px){
  
  .content{
    padding: 0 5rem;
  }

  .about__content--education{
    width:45%;
    padding:2rem 0rem 2rem 1rem;
  } 
  
  .about__content--work{
    width:55%;
  }

  .home__content--name h2{
    font-size:2.3rem;
  }
  .home__content--description{
    max-width:24rem;
  }

  .projectClicked{
    transform: rotateX(10deg) scale(1.2);
  }

  .navButtons{
    width:auto;
    gap:2rem;
  }

  .portfolio{
    padding:2rem 1rem;
  }

  .project-heading{
    font-size:1.5rem;
  }
}

@media(max-width:670px){
  .content{
    gap:1rem;
  }

  .social-icon{
    font-size:20px;
  }
  .about__content{
    flex-direction:column;
  }
  .about__content--education, .about__content--work{
    flex-direction:row;
    width:100%;
    justify-content:space-between;
    padding: 2rem 1rem 1rem 1rem;

  }
  .about__content--education{
    justify-content:space-evenly;
  }

  .work--nau, .work--infy, .work--content{
    flex-direction:column;
    align-items:center;
  }

  .work--content p{
    text-align:center;
  }
  
  .separator{
    width:80%;
  }
}

@media(max-width:540px){
  .portfolio-projects{
    grid-template-columns:1fr 1fr;
    grid-template-rows: 150px 150px;
  }
  .project1, .project3{
    grid-column: 1/4;
  }
  .project2, .project4{
    grid-column: 4/8;
  }
  .project-heading{}
}

@media(max-width:500px){
  #book-container{
    margin:0 2rem;
  }
  .portfolio__projects{
    width:90%;
  }

  .content{
    padding:0 3rem;
  }
  .home__content--welcome {
    font-size:0.7rem;
  }
  .home__content--name h2{
    font-size:1.5rem;
  }
  .home__content--description{
    font-size:1rem;
  }
}